<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=9">
    <meta name="description" content="Gambolthemes">
    <meta name="author" content="Gambolthemes">
    <title>Educonnect | {{ title }}</title>

    <!-- Favicon Icon -->
    <link rel="icon" type="image/png" href="images/fav.png">

    <!-- Stylesheets -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link href="/fronts/css/responsive.css" rel="stylesheet">
    <link href="/fronts/css/style.css" rel="stylesheet">
    <link href="/fronts/css/datepicker.min.css" rel="stylesheet">

    <!-- Vendor Stylesheets -->
    <link href="/fronts/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/fronts/vendor/feather-icons/feather.css" rel="stylesheet">
    <link href="/fronts/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="/fronts/vendor/OwlCarousel/assets/owl.carousel.css" rel="stylesheet">
    <link href="/fronts/vendor/OwlCarousel/assets/owl.theme.default.min.css" rel="stylesheet">
    <link href="/fronts/vendor/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet">
    @!section('head')
</head>

<body>
    <!-- Share Model Start -->
    {{-- @include('client/components/share')
    <!-- Share Model End -->
    <!-- Report Model Start -->
    @include('client/components/report') --}}
    <!-- Report Model End -->
    <!-- Header Start -->
    <div style="display:contents" id="swup" class="transition-fade">
        @include('client/components/header')
        <!-- Header End -->
        <!-- Body Start -->
        <main>
            @!section('content')
        </main>
    </div>
    <!-- Body End -->
    <!-- Footer Start -->

    <!-- Footer End -->
    <!-- Scripts js -->
    <script src="/fronts/vendor/swup/unpkg.com_swup@4.3.4_dist_Swup.umd.js"></script>
    <script src="/fronts/vendor/swup/unpkg.com_@swup_progress-plugin@3.1.0_dist_index.umd.js"></script>
    <script src="/fronts/vendor/swup/unpkg.com_@swup_scroll-plugin@3.3.0_dist_index.umd.js"></script>
    <script src="/fronts/vendor/swup/unpkg.com_@swup_forms-plugin@3.3.0_dist_index.umd.js"></script>
    <script src="/fronts/vendor/swup/unpkg.com_@swup_scripts-plugin@2.0.0_dist_index.umd.js"></script>
    <script src="/fronts/js/jquery-3.6.0.min.js"></script>
    <script src="/fronts/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/fronts/vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="/fronts/vendor/OwlCarousel/owl.carousel.js"></script>
    <script src="/fronts/js/datepicker.min.js"></script>
    <script src="/fronts/js/i18n/datepicker.en.js"></script>
    <script src="/fronts/js/custom.js"></script>



    @!section('script')
</body>

</html>